body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  text-transform: uppercase;
  background-color: #fff;

  width: 320px;
  border: 1px dashed green;
  margin: 0 auto;
}

img {
  display: block;
}
