.btn {
  display: block;
  padding: 16px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #81b3d2;
  border: none;
  outline: none;
  transition: all 0.2s;
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}
