.main-nav {
  padding-bottom: 55px;
  &--closed {
    .main-nav__toggle {
      background-color: #fff;
      &::before {
        content: "";
        position: absolute;
        top: 16px;
        left: 20px;
        width: 23px;
        height: 4px;
        background-color: #81b3d2;
        box-shadow: 0 8px 0 0 #81b3d2,
                    0 16px 0 0 #81b3d2;
      }
    }
    .main-nav__list {
      display: none;
    }
  }
  &--opened {
    .main-nav__toggle {
      background-color: transparent;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 20px;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  &--nojs {
    .main-nav__toggle {
      display: none;
    }
    .main-nav__list {
      display: block;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 63px;
  height: 55px;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
}

.main-nav__list {
  @include ul-reset;
  background-color: #81b3d2;
}

.main-nav__item {
  &--active {

  }
  &:first-child {
    a {
      border-top: none;
      }
    }
  &:last-child {
    a {
      border-bottom: none;
      }
    }
  a {
    display: block;
    padding: 17px 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    &[href] {
      &:hover {
        background-color: #669ec0;
        }
      &:active {
        background-color: #5496bd;
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
