.page-footer {
  text-align: center;
  padding-bottom: 25px;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__hash {
  display: block;
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.page-footer__copyrights {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000;
  a {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 35px;
    margin-left: 10px;
    font-size: 0;
    &:hover {
      svg {
        fill: #81b3d2;
      }
    }
    &:active {
      svg {
        fill: #b2b2b2;
      }
    }
  }
}

@media #{$tablet-widths} {

  .page-footer {
    padding-bottom: 35px;
  }

  .page-footer__wrapper {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer__hash {
    margin: 0;
  }

}
