.page-header {
  position: relative;
  margin-bottom: 35px;
  &--index {
    .page-header__sedona-text {
      padding-bottom: 390px;
      background-image: url("../img/text-sedona-index.svg"),
                        url("../img/bg-intro-triangle-mobile.svg"),
                        url("../img/bg-back-mobile@1x.jpg");
      @media #{$retina} {
        background-image: url("../img/text-sedona-index.svg"),
                          url("../img/bg-intro-triangle-mobile.svg"),
                          url("../img/bg-back-mobile@2x.jpg");
      }
      background-size: 280px, 100% 26px, cover;
      background-position: top 88px center, bottom, center;
    }
  }
}

.page-header__logo {
  align-self: center;
  order: 5;
  background-color: transparent;
  img {
    width: 102px;
    height: 83px;
    vertical-align: bottom;
  }
}

.page-header__sedona-text {
  margin-top: -26px;
  padding-bottom: 160px;
  font-size: 0px;
  background-image: url("../img/text-sedona.svg"),
                    url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  @media #{$retina} {
    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: 230px, 100%, cover;
  background-position: top 50px center, bottom, center;
}

@media #{$tablet-widths} {

  .page-header {
    margin-bottom: 70px;
    &--index {
      margin-bottom: 52px;
      .page-header__sedona-text {
        padding-bottom: 515px;
        background-image: url("../img/text-sedona-index.svg"),
                          url("../img/bg-intro-triangle-tablet.svg"),
                          url("../img/bg-back-tablet@1x.jpg");
        background-size: 460px, 100%, cover;
        background-position: top 75px center, bottom, center;
        @media #{$retina} {
          background-image: url("../img/text-sedona-index.svg"),
                            url("../img/bg-intro-triangle-tablet.svg"),
                            url("../img/bg-back-tablet@2x.jpg");
        }
      }
    }
  }

  .page-header__logo {
    order: 0;
  }

  .page-header__sedona-text {
    padding-bottom: 290px;
    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
    @media #{$retina} {
      background-image: url("../img/text-sedona.svg"),
                        url("../img/bg-intro-triangle-tablet.svg"),
                        url("../img/bg-back-tablet@2x.jpg");
    }
    background-size: 460px, 100%, cover;
    background-position: top 92px center, bottom, center;
  }
}

@media #{$desktop-widths} {

  .page-header {
    margin-bottom: 105px;
    &--index {
      margin-bottom: 52px;
      .page-header__sedona-text {
        background-image: url("../img/text-sedona-index.svg"),
                          url("../img/bg-intro-triangle-desktop.svg"),
                          url("../img/bg-back-desktop@1x.jpg");
        @media #{$retina} {
          background-image: url("../img/text-sedona-index.svg"),
                            url("../img/bg-intro-triangle-desktop.svg"),
                            url("../img/bg-back-desktop@2x.jpg");
        }
      }
    }
  }

  .page-header__logo {
    img {
      width: 188px;
      max-width: none;
      height: 96px;
    }
  }

  .page-header__sedona-text {
    margin-top: -38px;
    padding-bottom: 300px;
    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    @media #{$retina} {
      background-image: url("../img/text-sedona.svg"),
                        url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
    }
    background-position: top 100px center, bottom, center
  }

}
