.photo-item {
  margin: 0;
  padding-top: 25px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo-item__wrapper {
  padding: 15px 0;
}

.photo-item__img-wrapper {
  display: block;
  img {
    display: block;
    width: 100%;
  }
}

.photo-item__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
}

.photo-item__author {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  color: #333;
}

.photo-item__likes {
  display: flex;
  svg {
    fill: #b2b2b2;
    margin-right: 14px;
  }
}

.photo-item__likes-amount {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
}

@media #{$tablet-widths} {

  .photo-item {
    width: 50%;
    padding-top: 0;
    background-color: #f2f2f2;
    &::after {
      display: none;
    }
    &--lg {
      width: 100%;
      .photo-item__wrapper {
        padding: 15px 20px;
      }
    }
  }

  .photo-item__wrapper {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .photo-item__img-wrapper {
    img {
      max-height: 400px;
    }
  }

  .photo-item__author {
    margin-bottom: 0;
  }

  .photo-item__likes {
    svg {
      margin-right: 10px;
    }
  }

}

@media #{$desktop-widths} {

  .photo-item {
    position: relative;
    box-sizing: border-box;
    width: 33.33%;
    padding-bottom: 0;
    &--lg {
      width: 100%;
    }
  }

  .photo-item__wrapper {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(#000, 0.3);
  }

  .photo-item__img-wrapper {
    img {
      margin-bottom: 0;
    }
  }

  .photo-item__text {
    margin-bottom: 5px;
    line-height: 17px;
    color: #fff;
  }

  .photo-item__author {
    color: #fff;
  }

  .photo-item__likes {
    svg {
      fill: #fff;
    }
  }

  .photo-item__likes-amount {
    color: #fff;
  }

}
