.promo-block {
  &--triangle {
    .promo-block__wrapper {
      padding-top: 77px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100% 37px;
    }
  }
  &--grey {
    border-bottom: 1px solid #d6d6d6;
    &:last-of-type {
      border-bottom: none;
    }
    .promo-block__title,
    .promo-block__number,
    .promo-block__text {
      color: #000;
    }
    .promo-block__title {
      br {
        display: none;
      }
    }
    .promo-block__text {
      margin: 0;
    }
    .promo-block__wrapper {
      padding: 30px 9%;
      background-color: #eee;
    }
  }
}

.promo-block__wrapper {
  padding: 40px 9%;
  background-color: #81b3d2;
}

.promo-block__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  br {
    display: none;
  }
}

.promo-block__number {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

.promo-block__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

.promo-block__img-wrapper {
  text-align: center;
}

.promo-block__img {
  vertical-align: bottom;
}

@media #{$tablet-widths} {

  .promo-block {
    display: flex;
    flex-wrap: wrap;
    &--triangle {
      .promo-block__wrapper {
        padding: 0;
        background-image: none;
      }
    }
    &--inverse {
      flex-direction: row-reverse;
    }
    &--grey {
      box-sizing: border-box;
      width: 33%;
      flex-grow: 1;
      padding: 0;
      border: 0;
      .promo-block__wrapper {
        display: flex;
        flex-direction: column;
        padding: 45px 0;
      }
      .promo-block__title {
        margin-bottom: 15px;
        br {
          display: block;
        }
      }
    }
  }

  .promo-block__wrapper {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 230px;
    padding: 0;
  }

  .promo-block__inner {
    width: 66%;
    margin: auto;
  }

  .promo-block__title {
    font-size: 21px;
    br {
      display: block;
    }
  }

  .promo-block__number {
    margin-bottom: 25px;
  }

  .promo-block__text {
    margin: 0;
  }

  .promo-block__img-wrapper {
    flex-shrink: 0;
    width: 512px;
    height: 256px;
    overflow: hidden;
  }

  .promo-block__img {
    width: 100%;
  }

}

@media #{$desktop-widths} {

  .promo-block {
    &--grey {
      .promo-block__wrapper {
        flex-grow: 1;
        padding: 55px 0;
      }
    }
  }

  .promo-block__wrapper {
    flex-grow: 0;
    flex-basis: auto;
    width: 33%;
  }

  .promo-block__inner {
    width: 285px;
  }

  .promo-block__img-wrapper {
    flex-shrink: 1;
    width: 67%;
    height: 260px;
  }

  .promo-block__img {
    transform: translateY(-70px);
  }

}
