.response-form {
  @include wrapper;
  margin-bottom: 75px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
}

.response-form__element {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border: none;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  &:last-of-type::after {
    border-bottom: none;
  }
  label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333;
  }
  input {
    &[type="text"],
    &[type="email"],
    &[type="tel"] {
      box-sizing: border-box;
      height: 60px;
      padding: 20px 25px;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
      color: #000;
      background-color: #f2f2f2;
      border: none;
      outline: none;
      &::-webkit-input-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
      &:hover {
        background-color: #e5e5e5;
      }
      &:focus {
        padding: 16px 21px;
        background-color: #fff;
        border: 4px solid #e5e5e5;
      }
    }
  }
  &--name {
    label {
      display: flex;
      input {
        width: 100px;
        flex-grow: 1;
      }
    }
    .response-form__label {
      padding-right: 15px;
      line-height: 60px;
    }
  }
  &--contact {
    label {
      margin-bottom: 11px;
      &:last-of-type {
        margin-bottom: 27px;
      }
    }
    .response-form__label {
      display: block;
      margin-bottom: 6px;
      padding-left: 20px;
    }
    .response-form__input-inner {
      display: flex;
      input {
        width: 220px;
        flex-grow: 1;
      }
    }
    .response-form__icon {
      flex-basis: 60px;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: center;
      &--phone {
        background-image: url("../img/icon-phone.svg");
      }
      &--email {
        background-image: url("../img/icon-mail.svg");
      }
    }
  }
  &--impression {
    label {
      &:last-of-type {
        margin-bottom: 25px;
      }
    }
    input {
      display: none;
    }
    .response-form__indicator {
      position: relative;
      min-width: 56px;
      height: 56px;
      background-color: #f2f2f2;
      border-radius: 50%;
    }
    input:checked + .response-form__indicator::after {
      content: "";
      position: absolute;
      top: 17px;
      left: 17px;
      width: 22px;
      height: 22px;
      background-color: #333;
      border-radius: 50%;
    }
    .response-form__label {
      padding-left: 22px;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      text-transform: none;
      color: #000;
    }
    label {
      display: flex;
      align-items: center;
      min-height: 56px;
      margin-bottom: 15px;
      &:hover {
        .response-form__indicator {
          background-color: #e5e5e5;
        }
      }
      &:active {
        .response-form__indicator {
          background-color: #d5d5d5;
        }
        .response-form__indicator::after {
          background-color: #a4a4a4;
        }
      }
    }
  }
  &--sights {
    input {
      display: none;
    }
    .response-form__indicator {
      position: relative;
      min-width: 56px;
      height: 56px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }
    input:checked + .response-form__indicator::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 19px;
      width: 15px;
      height: 10px;
      border-left: 3px solid #231f20;
      border-bottom: 3px solid #231f20;
      transform: rotate(-45deg);
    }
    .response-form__label {
      padding: 0 22px;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      text-transform: none;
      color: #000;
    }
    label {
      display: flex;
      align-items: center;
      min-height: 56px;
      margin-bottom: 23px;
      &:hover {
        .response-form__indicator {
          background-color: #e5e5e5;
        }
      }
      &:active {
        .response-form__indicator {
          background-color: #d5d5d5;
        }
        .response-form__indicator::after {
          border-color: #a4a4a4;
        }
      }
    }
  }
  &--emotions {
    margin-bottom: 47px;
    textarea {
      box-sizing: border-box;
      width: 100%;
      min-height: 160px;
      padding: 20px 25px;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
      color: #000;
      background-color: #f2f2f2;
      border: none;
      outline: none;
      &::-webkit-input-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
      &:hover {
          background-color: #e5e5e5;
        }
      &:focus {
        padding: 16px 21px;
        background-color: #fff;
        border: 4px solid #e5e5e5;
      }
    }
  }
}

.response-form__title {
  display: block;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.response-form__required {
  &--invalid {
    background-color: rgba(red, 0.15) !important; // js-класс, нужно перебить специфичность
  }
}

.response-form__submit-btn {
  width: 100%;
}

.response-form__fields-required {
  display: none;
}

@media #{$tablet-widths} {

  .response-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 97px;
    &::before {
      display: none;
    }
  }

  .response-form__element {
    width: 100%;
    margin-bottom: 43px;
    padding: 0;
    border: 0;
    &::after {
      display: none;
    }
    &--name {
      position: relative;
      box-sizing: border-box;
      width: 50%;
      padding-left: 55px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        border-left: 1px solid #dbdbdb;
      }
      .response-form__title {
        text-align: left;
      }
    }
    &--impression {
      order: -1;
      width: 50%;
      label {
        margin-bottom: 25px;
      }
      .response-form__title {
        text-align: left;
      }
    }
    &--contact {
      margin-bottom: 35px;
      label {
      margin-bottom: 21px;
      &:last-of-type {
        margin-bottom: 17px;
      }
    }
      .response-form__title {
        margin-bottom: 25px;
        @include title-line;
      }
    }
    &--sights {
      margin-bottom: 32px;
      .response-form__title {
        margin-bottom: 40px;
        @include title-line;
      }
      .response-form__inner {
        display: flex;
        flex-wrap: wrap;
        padding-left: 95px;
        label {
          box-sizing: border-box;
          flex-basis: 260px;
          margin-bottom: 35px;
        }
        .response-form__slide-park {
          order: 2;
        }
        .response-form__mountain-bell {
          order: 1;
        }
        .response-form__red-rocks {
          order: 3;
        }
      }
    }
    &--emotions {
      margin-bottom: 56px;
      .response-form__title {
        @include title-line;
      }
    }
  }

  .response-form__title {
    font-size: 21px;
    margin-bottom: 55px;
  }

  .response-form__submit-btn {
    width: 325px;
  }

  .response-form__fields-required {
    display: block;
    width: 200px;
    margin-left: auto;
    padding: 16px 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333;
    text-align: right;
  }

}

@media #{$desktop-widths} {

  .response-form {
    box-sizing: border-box;
    margin-bottom: 103px;
    padding: 0 120px;
  }

  .response-form__element {
    &--name {
      padding-left: 80px;
    }
    &--impression {
      .response-form__title {
        padding-left: 80px;
      }
    }
    &--contact {
      margin-bottom: 52px;
      .response-form__title {
        margin-bottom: 70px;
      }
      .response-form__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        label {
          margin-bottom: 0;
        }
      }
      .response-form__label {
        display: inline-block;
        margin: 0;
        margin-right: 10px;
        padding: 0;
      }
      .response-form__word-hidden {
          display: none;
        }
      .response-form__input-inner {
        display: inline-flex;
        min-width: 315px;
      }
    }
    &--sights {
      .response-form__inner {
        // justify-content: space-between; возможно, больше соответсвует макету с 4-мя элементами, но если элементов станет 6 - не очень красиво выглядит
        justify-content: space-around;
        padding: 0;
        label {
          flex-basis: auto;
        }
      }
    }
    &--emotions {
      .response-form__title {
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  .response-form__submit-btn {
    width: 480px;
  }

}
