.social {
  margin-bottom: 40px;
}

.social__list {
  @include ul-reset;
  font-size: 0;
}

.social__item {
  margin-right: 6px;
  padding: 0;
  display: inline-block;
  font-size: 0;
  a {
    display: block;
    width: 46px;
    height: 48px;
  }
}
