.social {
  display: inline-block;
  margin-bottom: 40px;
}

.social__list {
  @include ul-reset;
  display: flex;
  justify-content: space-between;
  min-width: 155px;
}

.social__item {
  padding: 0;
  a {
    display: block;
    width: 46px;
    height: 48px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    &:active {
      opacity: 0.3;
    }
  }
  &--tw {
    a {
      background-image: url("../img/icon-twitter.svg");
      background-size: 19px;
    }
  }
  &--fb {
    a {
      background-image: url("../img/icon-facebook.svg");
      background-size: 9px;
    }
  }
  &--yout {
    a {
      background-image: url("../img/icon-youtube.svg");
      background-size: 20px;
    }
  }
}

@media #{$tablet-widths} {

  .social {
    margin-bottom: 0;
  }

}
