.video {
  margin-bottom: 75px;
  padding-top: 35px;
}

.video__wrapper {
  @include wrapper;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.video__text {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: #333;
}

.video__video {
  width: 100%;
}
